* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    background: #050F21;
}

.light-navbar {
    position: fixed;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 20px 40px;
    border-bottom: 0.02px solid #EFEAF5;
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(20px);
    overflow: none;
}

/* Navbar */
.navbar {
    position: fixed;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 20px 40px;
    border-bottom: 0.02px solid #EFEAF5;
    background: rgba(5, 15, 33, 0.40);
    backdrop-filter: blur(20px);
    overflow: none;
}

.logo-icon {
    background-color: #00000000;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.menu {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.cv-button {
    background: #20182D;
    color: #fff;
    text-decoration: none;
    padding: 14px;
    border-radius: 8px;
    margin: 0px 60px;
}

.mode {
    background: none;
    border: none;
}

/* Gradient Circle */
.circle {
    position: absolute;
    z-index: -1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 600px;
    border-radius: 0px 0px 1200px 1200px;
    background: radial-gradient(50% 100% at 50% 0%, #7839EE 0%, rgba(120, 57, 238, 0.00) 100%);
}

/* Intro Section */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 190px;
}

.face-icon {
    width: 250px;
    height: 250px;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 48px;
    text-align: center;
    color: #fff;
    padding: 35px 0px;
}

.connect-button {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    background: #fff;
    color: #050F21;
    text-decoration: none;
    padding: 14px;
    border-radius: 8px;
}

/* About Me Section */
.section-block {
    margin: 200px 120px 80px 120px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    color: #fff;
    margin-bottom: 40px;
}

p {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: #DDD;
}

/* Experience Section */
.experience-block {
    display: flex;
    padding: 20px;
}

.experience-block :nth-child(1) {
    text-wrap: nowrap;
    margin-right: 40px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.section-block :nth-child(2) {
    margin-bottom: 20px;
}

/* Project Section */
.section-block {
    margin: 200px 120px 80px 120px;
}

.project-block {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.project-item {
    color: #fff;
    background-color: #7839ee30;
    padding: 25px;
    border-radius: 8px;
}
